*{
  background-color: tan;
}
.blog-post-card {
  margin:auto;
  margin-top:200px;
  padding-bottom:5px;
  background-color: white;
  width:300vw;
  text-align: center;
  border: solid, grey;
  border-radius:15px;

}
.post-img {
  width: 100%;
  border-radius:10px 10px 0px 0px;
  background-color:white;
  border-bottom: 3px solid dimgray; 
}
.post-title {
  color: dimgray;
  margin-top:2px;
  margin-bottom:2px;
  background-color: white;
  font-family: sans-serif;
  font-size: 35px;
  padding: 5px;
}
.post-excerpt {
  color:dimgray;
  background-color: white;
  margin-top: 10px;
  margin-bottom:25px;
  font-size:20px;
}
.post-content {
  background-color:white;
  padding: 10px;
  border-radius: 20px;
}
.read-more {
  background-color:gold;
  padding:10px;
  border-radius:10px;
  font-family: sans-serif;
  margin: 5px;
  display: block;
}
.read-more:hover{
color:darkred;
background-color:orange;
font-family: sans-serif;
}


